@import 'styles/_box-sizing.css';
@import 'styles/_resets.css';
@import 'styles/_gauge-tachometer.css';

:root {
  --black: #000;
  --gray: #73737a;
  --blue: #4666ff;
  --red: #ff3131;

  --cockpit-width: 1500px;
  --cockpit-height: 440px;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  font-family: 'VWHead';
  font-size: 1.6rem;
  color: #fff;
}

.cockpit {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: var(--cockpit-width);
  height: var(--cockpit-height);
  padding: 0 148px;
}

.gauge {
  position: relative;
  width: var(--cockpit-height);
  height: 100%;
  background-color: var(--black);
  border-top: 3px solid var(--blue);
  border-right: 3px solid var(--blue);
  border-bottom: 2px solid var(--gray);
  border-left: 3px solid var(--blue);
  border-radius: 50vh;
}

.gauge-pointer {
  --rotation: 240;

  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 1;
  width: 4px;
  height: 215px;
  background-color: white;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  box-shadow: 0 0 8px var(--black);
  border-radius: 2px;
  transition: transform 0.1s linear;
}

.gauge-info {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  border: 1px solid var(--gray);
  border-radius: 50vh;
  font-size: 8rem;
}

.gauge-info-text {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: var(--black);
  box-shadow: 0 0 30px 20px var(--black);
  border-radius: 50vh;
}

.gauge-info-mark {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.gauge-info-mark::before {
  content: '';
  display: block;
  width: 4px;
  height: 8px;
  margin-top: 8px;
  background-color: var(--gray);
}
.gauge-info-mark.two {
  transform: rotate(120deg);
}
.gauge-info-mark.three {
  transform: rotate(240deg);
}

.active-info {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 540px;
  height: 100%;
}

.active-info-display {
  width: 100%;
  height: calc(100% - 58px - 32px);
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  border-left: 2px solid var(--blue);
  border-radius: 46px / 40px;
  box-shadow: 0px 10px 30px -24px var(--blue);
}

.active-info-top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  background-color: var(--black);
  border-bottom: 1px solid var(--gray);

  font-size: 2.8rem;
}

.active-info-bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;

  font-size: 1.8rem;
}
